<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.aws.dao.UserDao" >

    <select id="queryUserList" resultType="Map">
        SELECT * FROM sys_user
    </select>

    <select id="queryUserByName" resultType="Map" parameterType="string">
        SELECT * FROM sys_user WHERE user_name = #{username}
    </select>
    
    <insert id="insertComment" parameterType="list">
        INSERT INTO qqmusic_comment
        (comment_id, comment_user_id, comment_user_name, comment_content, comment_time, comment_user_icon, song_name)
        VALUES
        <foreach collection = "list" item = "comment" index ="index" separator = ",">
            (
            #{comment.comment_id},
            #{comment.comment_user_id},
            #{comment.comment_user_name},
            #{comment.comment_content},
            #{comment.comment_time},
            #{comment.comment_user_icon},
            #{comment.song_name}
            )
        </foreach>
    </insert>
</mapper>